html {
  background-color: bisque;
}

body {
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

@font-face {
  font-family: gWeiss;
  src: url(../../assets/fonts/GABRWFFR.TTF);
}

h1 {
  font-family: gWeiss;
  font-size: 45pt;
  margin-top: 20px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

#navbar {
  display: inline-flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#navbar > * {
  font-size: 1.1rem;
}

.navigation > li {
  list-style: none;
}

.navigation {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
}

#main-section {
  justify-content: center;
  vertical-align: center;
  margin-bottom: 30px;
}

#signature {
  margin-bottom: 20px;
}

#main-image img {
  border: solid black;
  width: 45%;
}

#main-image {
  vertical-align: center;
}

@media screen and (max-width: 900px) {
  #main-image img {
    width: 90%;
    margin-bottom: 40px;
  }
  #signature img {
    width: 80%;
  }
}
