html {
  background-color: bisque;
}

body {
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: gWeiss;
  src: url(../../assets/fonts/GABRWFFR.TTF);
}

h1 {
  font-size: 40pt;
  font-family: gWeiss;
  margin: 50px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

#navbar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#navbar > * {
  font-size: 1.1rem;
}

.navigation > li {
  list-style: none;
}

.navigation {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
}

.about-text {
  max-width: 30%;
  font-size: 14pt;
  text-align: left;
}

.about-text a {
  color: brown;
}

.about-image {
  max-width: 40%;
  max-height: 100%;
}

.about-image img {
  max-width: 100%;
  max-height: 100%;
}

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: 00px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#photo-gallery img {
  max-width: 40%;
}

#socials {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 900px) {
  #about-section {
    gap: 20px;
  }
  .about-image {
    max-width: 100%;
  }
  .about-text {
    max-width: 100%;
  }
  #photo-gallery {
    flex-direction: column;
    gap: 20px;
  }
  #photo-gallery img {
    max-width: 100%;
  }
}
